/* EREDITATI DA MHW1 */
/* Menù di navigazione, bottoni, link */

#links {
    font-family: Arial, Helvetica;
    text-transform: uppercase;
    background-color:black;
    padding: 4px;
    font-style: normal;
    letter-spacing: 2px;
    font-size: 14px;
}

#links a{
    color: white;
    font-weight: bold;
    margin: 10px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
}

#links a.bottone {
    background-color:black;
    padding: 4px 6px;
    border: 2px solid white;
    border-radius: 70px;
    margin: 10px;
}

#links a:hover {
    background-color: white;
    color: black;
}

#logo {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    background-color:rgb(207, 182, 182, 0.80);
    letter-spacing: 2px;
    padding: 4px 6px;
    border-radius: 20px;
    height: 70%;
}

/* MHW2 */

header {
    display: flex;
    justify-content: space-between;
    padding: 45px;
    align-items: center;
    background-color: #005693;
}

article {
    margin: auto;
    width: 900px;
    margin-top: 75px;
    margin-bottom: 175px;
}

/* TITOLO (ARTICLE) */
#principale {
    background-image: url("foto/sfondo.jpg");
    background-size: cover;   
    margin-top: 35px;
    height: 420px;
}

#scritta {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    text-align: center;
    margin-right: 40px;
}

#scritta h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    margin-top: 80px;
    margin-right: 90px;
}

#scritta p {
    font-family: 'Segoe UI', sans-serif;
    font-size: 22px;
}

/* --------------------------------------------- */

/* PREFERITI */

.hidden {
    display: none;
}

#preferiti {
    background-color: #f7f31180;
}

#testoP {
    font-family: Verdana, sans-serif;
}

/* SCRITTA + BARRA DI RICERCA */
#banche h1 {    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
}

#ricerca {
    display: flex;
    justify-content: flex-end;
    width: 870px;
}

#ricerca img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

/* BOX ELEMENTI*/

.elementi {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.elementi div {
    width: 220px;
    background-color: rgb(240, 240, 240);
    border: 3px solid black;
    padding: 10px;
    margin-top: 18px;
    margin-bottom: 18px;
}

.elementi div img {
    width: 100%;
}

.elementi img.stella {
    margin-top: 5px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
}

.elementi div h1 {
    display: inline;
    font-size: 21px;
    font-family: 'PT Sans', sans-serif;
}

.elementi div p {
    margin-top: 0;
}

.info {
    cursor: pointer;
}

/* FOOTER */

footer {
    font-family: Arial, Helvetica;
    background-color:#0a6696;
    color:antiquewhite;
    padding: 40px;
    text-align: center;
    margin-top: 80px;
}

footer p {
    font-size: 14px;
    line-height: 26px;
}
